<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book CRUD and LIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- Обработка ошибок -->
<div th:if="${someException != null}">
    <p th:text="${someException}" />
</div>

<div>Новая книга</div>
<form action="#" th:action="@{/book/add}" th:object="${inputBookTrans}" method="post">
    <p>Заглавие: <input type="text" th:field="*{title}" /></p>
    <p>Дата издание: <input type="date" th:field="*{year}" /></p>
    <p>Жанр: <input type="text" th:field="*{genreIntIn}" /></p>
    <p><input type="submit" value="Ввести" /> <input type="reset" value="Отказаться" /></p>
</form>

<div>Список книг</div>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Заглавие </th>
        <th> Дата издание </th>
        <th> Жанр </th>
    </tr>
    </thead>
    <!--/*@thymesVar id="theBookTrans" type="com.igorrogachev.athenaeum.business.domain.BookTrans"*/-->
    <!--/*@thymesVar id="booksTransList" type="java.util.List"*/-->
.    <tbody>
    <tr th:if="${booksTransList.isEmpty()}">
        <td colspan="2"> Нет книг для отображения </td>
    </tr>
    <tr th:each="theBookTrans : ${booksTransList}">
        <td><span th:text="${theBookTrans.id}"> ID </span></td>
        <td><span th:text="${theBookTrans.title}"> Заглавие </span></td>
        <td><span th:text="${theBookTrans.yearStringInOut}"> Год издания </span></td>
        <td><span th:text="${theBookTrans.genreStringOut}"> Жанр </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>