<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genre CRUD and LIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <!-- Обработка ошибок -->
    <div th:if="${someException != null}">
        <p th:text="${someException}" />
    </div>

    <div>Новый жанр</div>
    <form action="#" th:action="@{/genre/add}" th:object="${inputGenreTrans}" method="post">
        <p>Наименование жанра: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Ввести" /> <input type="reset" value="Отказаться" /></p>
    </form>

    <div>Список жанров</div>

    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Наименование жанра </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${genresTransList.isEmpty()}">
            <td colspan="2"> Нет жанров для отображения </td>
        </tr>
        <tr th:each="theGenreTrans : ${genresTransList}">
            <td><span th:text="${theGenreTrans.id}"> ID </span></td>
            <td><span th:text="${theGenreTrans.name}"> Наименование </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>